{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UniViagens</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
    <header>
        <div class="cabecalho">
            <div class="initHeader">
                <a href=""><img class="iconHeader" src="https://cdn-icons-png.flaticon.com/512/2798/2798088.png" alt="icon UniViagens"></a>
                <a class="nomeHeader" href="">UniViagens</a>
            </div>

            <div >
                <a href="" class="textHeader">Sobre Nós</a>
                <a href="" class="textHeader">Contatos</a>
            </div>
        </div>
    </header>

    <main>

        <form class="meioPage" action="">

            <div class="button">
                <button class="buttonMain">Ida e Voltar</button>
                <button class="buttonMain">Somente ida</button>
                
            </div>
            <div class="data">
                <input type="date">
                <br>
                <input type="date" >
            </div>





        </form>

       
    </main>
    
</body>
</html>